@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
/* font-family: 'IBM Plex Sans KR', sans-serif; */


.main {
    flex-grow: 1;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.chat-wrap {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.chat-info {
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.chat-content {
    width: fit-content;
    max-width: 500px;
    padding: 10px 20px;
    list-style: none;
}


.user-chat {
    overflow: hidden;
}



/* 챗봇창 */
.chat-screen {
    height: 350px;
    overflow: auto;
}


/* 챗 질문 */
.question .chat_content {
    background-color: #cde0efb3;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
    text-align: left;
    max-width: 80%;
}

.question-container {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    margin-top: -5px;
    margin: 20px;
}

/* 챗 답변 */
.answer {
    display: flex;
    align-items: center;
    margin-right: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.answer .chatbot-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.answer .chat_content {
    background-color: #f5fafba7;
    padding: 10px;
    border-radius: 15px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
    text-align: left;
    max-width: 80%;
    margin: 10px;
}

.answer-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-top: -5px;
}

.chatbot-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: sticky;
    top: 0;
}


/* 챗폼 */

.chat-form {
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
}
/* input */

.chat-form textarea {
    resize: none;
    flex-grow: 1;
    height: 70px;
    width: 100%;
    border: 0;
}

.chat-button {
    background-color: #6A7BA2;
    border: 0;
    color: white;
    font-family: large;
    width: 100px;
    height: 50px;
    border-radius: 4px;
}

/* 로딩 표시 */
.loading-indicator {
    height: 50px;
    width: 50px;
    border: 8px solid #fff;
    border-right-color:  #A0C3D2;
    border-top-color: #A0C3D2;
    border-radius: 100%;
    animation: spin 800ms infinite linear;
    position: fixed;
    top: 44%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 995;
}

@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}
